nav{
    max-width: 1296px;
    margin: 0 auto;
    box-sizing: border-box;
}
h2 span{
    border-bottom: double 5px #FFC778;
    padding: 5px 30px 5px 30px;
}
.areaBottom {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #FFC778;
}
.areaBottom::before {
    font-family: "bootstrap-icons";
    position: absolute;
    content: '\F7EA';
    color: #FFC778;
    font-size: 1.6rem;
    bottom: -15px;
    left: calc(50% - 13px);
    background-color: #ffffff;
    padding: 0 3px;
}
.optionArea{
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 80px;
    min-height: 100vh;
}
.navtest{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.del, .edit{
    position: relative;
    padding: 15px;
}
.del::before{
    font-family: "bootstrap-icons";
    position: absolute;
    width: 100%;
    height: auto;
    top: calc(50% - 10px);
    left: calc(50% - 14px);
    content: '\F659';
}
.edit::before{
    font-family: "bootstrap-icons";
    position: absolute;
    width: 100%;
    height: auto;
    top: calc(50% - 10px);
    left: calc(50% - 14px);
    content: '\F4C9';
}
.cart{
    position: fixed;
    right: -20px;
    top: 50%;
    background-color: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 20px 0 0 20px;
    transition: 0.5s ease;
    opacity: 1;
}
.cart::before{
    position: absolute;
    font-family: "bootstrap-icons";
    left: calc(50% - 20px);
    top: calc(50% - 30px);
    content: '\F245';
    font-size: 40px;
    color: #ffffff;
}
.cart:hover{
    right: 0;
    opacity: 0.6;
}
@media (max-width: 576px){
    .table thead{
        display: none;
    }
    .table tbody tr{
        border: 1px solid #dee2e6;
        border-radius: 10px;
    }
    .table tbody tr td{
        display: block;
        position: relative;
        padding-left: 100px;
    }
    .table tbody tr td::before{
        position: absolute;
        left: 0;
        top: calc(50% - 10px);
        content: attr(data-item);
        font-weight: bold;
    }
}