/*------------全域------------*/
*{
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/*------------頁碼------------*/
.pagination > li > a {
  color: #4d3900!important;
}
.pagination > .active > a {
  color: #ffffff!important;
  background-color: #4d3900!important;
  border: 1px solid #4d3900!important;
}
.pagination > li > a:active {
  box-shadow: none!important;
}
.pagination > li > a:focus {
  box-shadow: none!important;
}
/*------------後台------------*/
/*背景*/
.bg{
    min-height: 100vh;
    background: url(../../assets/banners/wallpaper.png) no-repeat center/cover;
}
/*Navbar*/
.navtest{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/*後台的操作區*/
.optionArea{
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 80px;
    min-height: 100vh;
}
/*編輯、刪除按鈕*/
.del, .edit, .carts{
    position: relative;
    padding: 15px;
}
.del::before{
    font-family: "bootstrap-icons";
    position: absolute;
    width: 100%;
    height: auto;
    top: calc(50% - 10px);
    left: calc(50% - 14px);
    content: '\F659';
}
.edit::before{
    font-family: "bootstrap-icons";
    position: absolute;
    width: 100%;
    height: auto;
    top: calc(50% - 10px);
    left: calc(50% - 14px);
    content: '\F4C9';
}
.carts::before{
    font-family: "bootstrap-icons";
    position: absolute;
    width: 100%;
    height: auto;
    top: calc(50% - 10px);
    left: calc(50% - 14px);
    content: '\F244';
}
/*商品編輯頁組圖*/
.flex-img{
    width: 50%;
    padding: 2px;
    position: relative;
}
.img-del{
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 1.3rem;
    color: #ff0000;
    visibility: hidden;
    line-height: 0;
}
.flex-img:hover .img-del{
    visibility: visible;
}
/*------------前台------------*/
/*Navbar*/
nav{
    max-width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
}
.target-underline{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #000000;
    transition: all 0.3s ease;
}
@media (max-width: 991px) {
    .target-underline{
        display: none;
    }
}
/*首頁區塊*/
.areaBottom {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #FFC778;
}
.areaBottom::before {
    font-family: "bootstrap-icons";
    position: absolute;
    content: '\F7EA';
    color: #FFC778;
    font-size: 1.6rem;
    bottom: -15px;
    left: calc(50% - 13px);
    background-color: #ffffff;
    padding: 0 3px;
}
/*首頁區塊大標題*/
h2 span{
    border-bottom: double 5px #FFC778;
    padding: 5px 30px 5px 30px;
}
/*連結不設底線*/
.no-underline{
    text-decoration: none!important;
}
/*Fixed於官網的購物車按鈕*/
.cartOpen{
    position: fixed;
    right: -20px;
    bottom: 50%;
    background-color: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 20px 0 0 20px;
    transition: 0.5s ease;
    opacity: 1;
    z-index: 999;
}
.cartOpen:hover{
    right: 0;
    opacity: 0.6;
}
.cartOpen::before{
    position: absolute;
    font-family: "bootstrap-icons";
    left: calc(50% - 20px);
    top: calc(50% - 30px);
    content: '\F245';
    font-size: 40px;
    color: #ffffff;
}
.cartOpenNum{
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: -7px;
    font-family: 'Arial';
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
    text-align: center;
}
.cartOpenNum::before{
    position: absolute;
    content: '';
    top: -1px;
    left: 0;
    background-color: #ff0000;
    padding: 12px;
    border-radius: 50%;
    z-index: -1;
}
/*Fixed於官網的回頁首按鈕*/
.backToTop{
    position: fixed;
    right: 10px;
    bottom: 120px;
    font-size: 40px;
    color: rgba(0,0,0,0.7);
    transition: 0.5s ease;
    z-index: 999;
}
.backToTop:hover{
    color: rgba(0,0,0,0.4);
}
/*找尋商品區塊*/
.sideBar h5{
    color: #ffffff;
    background-color: rgb(102, 77.2, 2.8);
}
.sideBar .list-group .list-group-item{
    background: none;
}
.sideBar .list-group .list-group-item a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s ease;
}
.sideBar .list-group .list-group-item a:hover{
    opacity: 0.4;
}
/*商品列表頁的加入購物車、加入關注按鈕*/
.cart, .heart, .heart-fill{
    position: relative;
    transition: 0.5s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    width: 36px;
    height: 36px;
    font-size: 0.9rem;
    outline: none;
}
.cart::before{
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 9.6px);
    content: '\F244';
    font-family: "bootstrap-icons";
    color: #ffffff;
    font-size: 1.2rem;
}
.heart::before{
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 9.6px);
    content: '\F417';
    font-family: "bootstrap-icons";
    color: #ffc107;
    font-size: 1.2rem;
}
.heart-fill::before{
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 9.6px);
    content: '\F415';
    font-family: "bootstrap-icons";
    color: #ffc107;
    font-size: 1.2rem;
}
.cart:hover, .heart:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.2)!important;
}
.arrow{
    position: relative;
}
/*點擊商品列表頁加入購物車的按鈕動畫*/
.addToCartAnimation{
    animation-name: cart;
    animation-duration: 1.5s;
}
@keyframes cart{
  0%{
    text-shadow: 0 0 5px #dc3545;
  }
  20%{
    transform: rotate(-40deg);
  }
  50%{
    text-shadow: 0 0 30px #dc3545;
  }
  70%{
    transform: rotate(40deg);
  }
  100%{
    text-shadow: 0 0 0 rgb(255, 255, 255,0);
  }
}
/*點擊商品列表頁及商品介紹頁加入追蹤的按鈕動畫*/
.heartAnimation{
  animation-name: heart;
  animation-duration: 1.5s;
}
@keyframes heart{
  0%{
    text-shadow: 0 0 5px #ffc107;
  }
  20%{
    transform: rotate(-40deg);
  }
  50%{
    text-shadow: 0 0 30px #ffc107;
  }
  70%{
    transform: rotate(40deg);
  }
  100%{
    text-shadow: 0 0 0 rgb(255, 255, 255,0);
  }
}
/*商品排序按鈕*/
.arrow:hover{
    opacity: 0.5;
}
.sort:hover{
    opacity: 0.5;
}
.a-up::before{
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 5px);
    font-family: "bootstrap-icons";
    content: '\F235';
    font-size: 0.7rem;
}
.a-down::before{
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 5px);
    font-family: "bootstrap-icons";
    content: '\F229';
    font-size: 0.7rem;
}
/*商品詳細頁面大圖與縮圖區*/
.sqLarge{
    position: relative;    
    border: #c9c9c9 solid 2px;
}
.sqSmall{
    position: relative;
    box-sizing: border-box;
}
.sqLarge::before, .sqSmall::before{
    content: '';
    padding-bottom: 100%;
    display: block;
}
.sqLarge > div, .sqSmall > div{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
/*hover商品頁面縮圖區塊*/
.hover-focus {
    border: 1px solid #dee2e6;
}
/*可左右移動的商品列表*/
.box-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.box {
    overflow: hidden;
}
.boxInside {
    display: flex;
    transition: 0.3s ease;
}
.boxInside .card{
    width: 300px;
}
/**首頁的可左右移動的商品列表icons**/
.icons-lg {
    position: absolute;
    z-index: 999;
    cursor: pointer;
    font-size: 60px;
    opacity: 0;
    transition: 0.3s ease;
}
.i-lg-l {
    left: -100px;
}
.i-lg-r {
    right: -100px;
}
.i-lg-l, .i-lg-r {
    top: calc(50% - 20px);
}
/**商品介紹頁的可左右移動的商品列表icons**/
.icons-sm {
    position: absolute;
    z-index: 999;
    cursor: pointer;
    font-size: 36px;
    opacity: 0;
    transition: 0.3s ease;
}
.i-sm-l {
    left: -80px;
}
.i-sm-r {
    right: -80px;
}
.i-sm-l, .i-sm-r {
    top: calc(50% - 30px);
}
/**首頁icons跟商品介紹頁icons共通樣式**/
.box-container:hover .icons-lg, .box-container:hover .icons-sm{
    opacity: 1;
}
.box-container:hover .i-lg-l, .box-container:hover .i-sm-l{
    left: 0;
}
.box-container:hover .i-lg-r, .box-container:hover .i-sm-r{
    right: 0;
}
@media (max-width: 1199px) {
    .icons-lg, .icons-sm{
        opacity: 1;
    }
    .i-lg-l, .i-sm-l{
        left: 0;
    }
    .i-lg-r, .i-sm-r{
        right: 0;
    }
}
@media (max-width: 767px) {
    /*Fixed的購物車顯示於官網底部*/
    .cartOpen{
        right: 0;
        bottom: 0;
        border-radius: 0;
        width: 100%;
        height: 30px;
    }
    .cartOpenNum{
        left: calc(50% - 40px);
        top: 5px;
    }
    /*避免footer被Fixed底部的購物車擋住*/
    footer{
        padding-bottom: 60px;
    }
}
@media (max-width: 576px){
    /*td排序改為block*/
    .table-block thead{
        display: none;
    }
    .table-block tbody tr{
        border: 1px solid #dee2e6;
        border-radius: 10px;
    }
    .table-block tbody tr td{
        display: block;
        position: relative;
        padding-left: 100px;
    }
    .table-block tbody tr td::before{
        position: absolute;
        left: 0;
        top: calc(50% - 10px);
        content: attr(data-item);
        font-weight: bold;
    }
}